@charset "UTF-8";
a:hover{color:#FF0000;}
.shoppcart {
   float:left;
   width:150px;
   height:42px;
   margin-top:25px;
   margin-left:50px;
   line-height:42px;
   padding-left:20px;
   font-size:13px;
   font-family:Microsoft YaHei;
   color:red;
   border:1px solid #ADADAD;
   background:#F0F0F0;
 }

.shoppcart_column {
	position:absolute;
    width:300px;
    height:auto;
    margin-top:69px;
    margin-left:977px;
    background:#FFFFFF;  
    z-index:2;
    display:none; 
    border:1px solid #ADADAD;
    box-shadow:0px 0px 3px #aaa;
 }
 
#patch-line-shoppcart {
	position:absolute;
    width:170px;
    height:6px;
    margin-top:65px;
    margin-left:1108px; 
    z-index:3;
    background:#FFFFFF;
    display:none;
 }
 
.sc-top-title {
   width:290px;
   height:30px;
   line-height:30px;
   font-size:13px;
   padding-left:10px;
   font-family:Microsoft YaHei;
 }

.sc-comm {
   width:100%;
   height:80px;
   border-bottom:1px solid #F0F0F0;
 }
.sc-comm:hover{background:#F0F0F0;}

.sc-comm-img {
   float:left;
   width:50px;;
   height:60px;
   margin-top:10px;
   margin-left:10px;
 }

.sc-comm-name {
   float:left;
   width:130px;;
   height:54px;
   margin-top:13px;
   margin-left:5px;
   font-size:13px;
   font-family:Microsoft YaHei;
   display:-webkit-box;
   -webkit-box-orient:vertical;
   overflow:hidden;
 }
.sc-comm-name:hover{color:#FF0000;}

.sc-comm-price {
   float:left;
   width:80px;
   height:54px;
   margin-top:13px;
   margin-left:5px;
   font-size:13px;
   font-family:Microsoft YaHei;
 }

.sc-comm-total {
   width:100%; 
   height:40px; 
   line-height:40px;
   background:#F0F0F0; 
   font-size:13px;
   font-family:Microsoft YaHei;
   text-indent:10px;
 }

.sc-go {
   float:right;
   width:70px;
   height:26px;
   margin-top:7px;
   margin-right:10px;
   border-radius:5px;
   background:#FF0000;
   color:#FFFFFF;
   line-height:26px;
   font-family:Microsoft YaHei;
 }