@charset "UTF-8";
.f-left{float:left;}
.f-right{float:right;}

.f-red{color:#FF0000;}
.f-20-red{font-size:20px; color:#FF0000;}

.f-left-15{float:left; font-size:15px;}


.f-25-STXinwei{font-size:25px; font-family:STXinwei;}
.f-20-STHeiti{font-size:20px; font-family:STHeiti;}

.f-red-16 {color:red; font-size:16px; font-family:Microsoft YaHei;}
.f-black-16 {color:black; font-size:16px; font-family:Microsoft YaHei;}






